

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  }
  .main{
   width: 90%;
  }
  .bollder{
  font-size: 24px;
  font-weight:900;
    
  }
  .widthh{
    width: 98%;
    margin: auto;
    padding: 0;
    display: flex;
    
    
    
    
  }
  @media screen and (max-width: 600px) {
    .widthh {
      flex-wrap: wrap;
      justify-content: space-between;
      
    }
  }

  .mag{
    margin-left: 10px;
  }
  